
<div class="row">
    <div class="col-md-12">
        <div class="row featured-boxes login">
            								<div class="col-md-6">
									<div class="featured-box featured-box-secundary default">
										<div class="box-content">
											
											<h4>
												{{#if product}}
													Update product
												{{else}}
        											Add new product
    											{{/if}}
											</h4>
											<form action="/products/addproduct/{{#if product}}{{product.productID}}{{/if}}" id="" method="post">
												<div class="row">
													<div class="form-group">
														<div class="col-md-12">
															<label for="title">Title</label>
															<input type="text" value="{{#if product}}{{product.title}}{{/if}}" class="form-control input-lg" name="title">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group">
														<div class="col-md-6">
															<label for="price">Price</label>
															<input type="number" value="{{#if product}}{{product.price}}{{/if}}" class="form-control input-lg" name="price">
														</div>
														<div class="col-md-6">
															<label for="description">Description</label>
															<input type="text" value="{{#if product}}{{product.description}}{{/if}}" class="form-control input-lg" name="description">
														</div>
                                                        <div class="col-md-6">
															<label for="image">Image</label>
															<input type="text" class="form-control input-lg" name="image" value="{{#if product}}{{product.image}}{{/if}}">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<input type="submit" value="{{#if product}}Update product{{else}}Add Product{{/if}}" class="btn btn-primary pull-right push-bottom">
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>

        </div>
    </div>
</div>
